<h1>Medicines#index</h1>

<table>
    <thead>
        <tr>
            <th> Id</th>
            <th> Name</th>
            <th> Price</th>
            <th> Action </th>
        </tr>
    </thead>

    <tbody<
    <% @medicines.each do |medicine| %>
        <tr>
            <td>
            <%= medicine.id %>
            </td>
            <td>
            <%= medicine.name %>
            </td>
            <td>
            <%= medicine.price %>
            </td>
            <td>
            <%= link_to 'Delete', medicine, method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>