<h1>Doctors#index</h1>

<table>
    <thead>
        <tr>
            <th> Id</th>
            <th> Name</th>
            <th> Action</th>
        </tr>
    </thead>

    <tbody<
    <% @doctors.each do |doctor| %>
        <tr>
            <td>
            <%= doctor.id %>
            </td>
            <td>
            <%= doctor.name %>
            </td>
            <td>
            <%= link_to 'Delete', doctor, method: :delete, data: {confirm: 'Are you sure?'} %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>